body {
  background-color: lightgrey;
  margin: 20px auto;
  width: 600px;
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 250px;
}

input {
  text-align: left;
  width: 100%;
}

button {
  margin-top: 20px;
}
